/* Form Component's private CSS styles */

.information {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.information li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.information li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.information li.selected {
  background-color: #69bdd2;
}
.information li.selected:hover {
  background-color: #69bdd2;
}

.information .badge {
  display: inline-block;
  font-size: small;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-size: 15px;
  background-color: #ddd;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}